.header {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__burger {
    display: none;
  }
  
  ._container {
    padding-left: 140px;
    padding-right: 140px;
  }
  .header__logo {
    font-size: 36px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    color: rgb(0, 0, 0);
  }
  
  .header__logo_grey {
    color: rgb(147, 147, 147);
  }
  
  .header__menu {
    display: flex;
    align-items: center;
  }
  .menu__list {
    display: flex;
    gap: 24px;
  }
  .menu__item {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
  }
  @media screen and (max-width: 1040px) {
    .menu__item {
    font-size: 16px;
    }
  }
  .menu__link {
    color: rgb(38, 50, 56);
  }
  .header__button {
    box-sizing: border-box;
    border: 2px solid rgb(38, 50, 56);
    border-radius: 5px;
    padding: 17px 57px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  .header__button:hover {
    background-color: rgb(38, 50, 56);
    color: rgb(255, 255, 255);
  }
  @media screen and (max-width: 993px) {
    .header {
      padding-top: 30px;
    }
}
@media screen and (max-width: 993px) {
._container {
  padding-left: 30px ;
  padding-right: 30px;
  }
}
  @media screen and (max-width: 768px) {
    ._container {
      padding-left: 40px ;
      padding-right: 40px;
    }
    .header {
      padding-top: 40px;
    }
    .header__menu {
      display: none;
    }
  
    .header__button {
      display: none;
    }
  
    .header__burger {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  
    .header__burger span::after {
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background: rgb(57, 81, 94);
      border-radius: 2px;
    }
  
    .header span:last-child:after {
      width: 20px;
    }
  }
  
  @media screen and (max-width: 576px) {
    ._container {
      padding-left: 30px ;
      padding-right: 30px;
    }
    .header {
        padding-top: 40px;
  }
  .header__logo {
    font-size: 30px;
  }
}
  
  @media screen and (max-width: 321px) {
    ._container {
      padding-left: 15px;
      padding-right: 15px;
    }
   .header {
    padding-top: 36px;
  }
  .header__logo {
    font-size: 24px;
  }
}