.header {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

._container {
  padding-left: 70px;
  padding-right: 70px;
}

.header__logo {
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  color: rgb(0, 0, 0);
}

.header__logo_grey {
  color: rgb(147, 147, 147);
}

.header__menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 24px;
}
.menu__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
}
.menu__link {
  color: rgb(38, 50, 56);
}
.header__button {
  box-sizing: border-box;
  border: 2px solid rgb(38, 50, 56);
  border-radius: 5px;
  padding: 17px 57px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.header__button:hover {
  background-color: rgb(38, 50, 56);
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 993px) {
  .header {
    padding-top: 30px;
  }

  ._container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 40px;
  }
  .header__menu {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .header__burger span::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: rgb(57, 81, 94);
    border-radius: 2px;
  }

  .header span:last-child:after {
    width: 20px;
  }

  ._container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 40px;
  }

  ._container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 321px) {
  .header {
    margin: 0 14px;
    padding-top: 36px;
  }
}
